{% extends "::base.html.twig" %}


{% block body %}
<h1>Editer un contact</h1>

<form action="{{ path("carnet_contact_editer", { id: id } ) }}" method="post">
    {{ form_widget(form) }}
    <input type="submit">
</form>

{% endblock %}
